<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Boats.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>17F61DC820CFB1F6001FDA77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17F61DDF20CFB1F7001FDA77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17F61DEA20CFB1F7001FDA77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
